<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/dashboard.css')}}">
    <title>Document</title>
</head>

<body>
    <div class='navbar'>
    <h1> Viewing {{ session['first_name'] }}'s bands</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/users/logout">Logout</a>
    </div>
    <div class='body2 table2'>
        <table>
                <th>Created Bands</th>
            {% for band in bands %}
            <tr>
                {% if band.user_id == session['user_id'] %}
                <td>{{ band.name }}
                    <a href="/bands/edit/{{ band.id }}">| edit |</a>
                    <a href="/bands/{{ band.id }}/delete"> delete |</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <table>
                <th>Joined Bands</th>
            {% for band in bands %}
            <tr>
                {% if band.id == band.bands_id %}
                <td>{{ band.name }}
                    <a href="/delete/member/{{ band.id }}">| Leave |</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>